<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on : {{date_created}}</p>
  {{#each comments}}
  <p>***********</p>
  <p>{{response}}</p>
  {{/each}}
</div>
